@font-face {
    font-family: "Roboto", sans-serif;
    src: url("./assets/font/Roboto-VariableFont_wdth,wght.ttf")
        format("truetype-variations");
}

html,
body {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    align-content: center;
}

.smooth-scroll {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
p {
    margin-block-end: 0;
    margin-block-start: 0;
}

button {
    appearance: none;
    display: flex;
}
