/* Color */

/*      */

/* Text */

.white {
    color: white;
}

.t-alig-center {
    text-align: center;
}

.text-dec-none {
    text-decoration: none;
}

.fs64 {
    font-size: 64px;
}

.fs76 {
    font-size: 76px;
}

/* Margin, Padding */

.marg-top-64 {
    margin-top: 64px;
}

.pad-top-12{
    padding-top: 12px;
}

/* Eigenschaften */

.flex {
    display: flex;
}

.align-i-center {
    align-items: center;
}

.justify-c-center {
    justify-content: center;
}

.flex-dir-column {
    flex-direction: column;
}
