.site-header {
    background-color: #070f2b;

    padding: 0 64px;
    height: 96px;
}
.site-header img {
    height: 64px;
}

body {
    background-color: #1b1a55;
}

.gallery {
    gap: 32px;
}

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 180deg;
    inherits: false;
}

.gallery-img {
    padding: 3px;
    border-radius: 16px;
    background: linear-gradient(
        var(--gradient-angle),
        rgba(160, 240, 253, 1) 0%,
        rgba(135, 50, 248, 1) 33%,
        rgba(246, 78, 133, 1) 66%,
        rgba(247, 138, 76, 1) 100%
    );

    width: 256px;
    height: 256px;

    transition: --gradient-angle 0.3s ease-in-out, transform 0.2s ease-in-out;
}
.gallery-img img {
    border-radius: 16px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery-img:hover {
    --gradient-angle: 360deg;
    transform: translateY(-3px) scale(1.05);

    cursor: pointer;
}

footer {
    padding: 0 64px;
    height: 96px;

    background-color: #070f2b;
}

footer img {
    height: 64px;
}

.album {
    transition: all 0.25s ease;
}

.back {
    width: 48px;
    height: 48px;
    filter: invert(1);
}

.back:hover {
    cursor: pointer;
}

.back_dialog {
    width: 48px;
    height: 48px;
    position: absolute;
    padding: 10px;
    filter: invert(1);
}

.back_dialog:hover {
    cursor: pointer;
}

.fullscreen_image {
    object-fit: cover;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 16px;
}

.fullscreen_dialog {
    height: 90vh;
    width: 100vh;
}

dialog {
    flex-direction: column;
    position: fixed;

    outline: none;
    border: none;
    padding: 8px;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    -khtml-border-radius: 16px;
    overflow: hidden;
    background: linear-gradient(
        var(--gradient-angle),
        rgba(160, 240, 253, 1) 0%,
        rgba(135, 50, 248, 1) 33%,
        rgba(246, 78, 133, 1) 66%,
        rgba(247, 138, 76, 1) 100%
    );
}

dialog::backdrop {
    backdrop-filter: blur(10px);
}

.angle img {
    width: 48px;
    height: 48px;
    padding: 10px;
    filter: invert(1);
}

.angle {
    padding-bottom: 10px;
    bottom: 0;
    width: 98vh;
    position: absolute;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.angle img:hover {
    cursor: pointer;
}
