.site-header {
    background-color: #070f2b;

    padding: 0 64px;
    height: 96px;
}
.site-header img {
    height: 64px;
}

body {
    background-color: #1b1a55;
}

/* Gallerie Reihenfolge */

.grid-repeat2 {
    /* Default Value Startscreen */
    grid-template-columns: repeat(2, 256px);
}

.grid-repeat5 {
    /* Default Value Album Bilder overview 2560 */
    grid-template-columns: repeat(5, 256px);
}

/* Rotation Value für Hover Animation */

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 180deg;
    inherits: false;
}

/* Gallerie */

.gallery {
    gap: 32px;
    display: grid;
}

.gallery-img {
    padding: 3px;
    border-radius: 16px;
    background: linear-gradient(
        var(--gradient-angle),
        rgba(160, 240, 253, 1) 0%,
        rgba(135, 50, 248, 1) 33%,
        rgba(246, 78, 133, 1) 66%,
        rgba(247, 138, 76, 1) 100%
    );

    width: 256px;
    height: 256px;

    transition: --gradient-angle 0.3s ease-in-out, transform 0.2s ease-in-out;
}
.gallery-img img {
    border-radius: 16px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery-img:hover {
    --gradient-angle: 360deg;
    transform: translateY(-3px) scale(1.05);

    cursor: pointer;
}

.album {
    transition: all 0.25s ease;
}

/* Back Buttons */

.back {
    width: 48px;
    height: 48px;
    filter: invert(1);
}
.back:hover {
    cursor: pointer;
}
.back_dialog {
    width: 48px;
    height: 48px;
    position: absolute;
    padding: 10px;
    filter: invert(1);
    z-index: 10;
}
.back_dialog:hover {
    cursor: pointer;
}

/* Dialog */

dialog {
    flex-direction: column;
    position: fixed;

    outline: none;
    border: none;
    padding: 8px;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    -khtml-border-radius: 16px;
    overflow: hidden;
    background: linear-gradient(
        var(--gradient-angle),
        rgba(160, 240, 253, 1) 0%,
        rgba(135, 50, 248, 1) 33%,
        rgba(246, 78, 133, 1) 66%,
        rgba(247, 138, 76, 1) 100%
    );
}
dialog::backdrop {
    backdrop-filter: blur(10px);
}

/* Das im Dialog zu anzeigende Image */

.fullscreen_image {
    object-fit: cover;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 16px;
}

.fullscreen_dialog {
    height: 90vh;
}

/* Vor und Zurück Pfeile */

.angle img {
    width: 48px;
    height: 48px;
    padding: 10px;
    filter: invert(1);
}
.angle {
    padding-bottom: 10px;
    bottom: 0;
    display: flex;
    width: inherit;
    height: inherit;
    align-items: end;
    justify-content: space-between;
    position: absolute;

    width: 100%;
    left: 0;
}
.angle img:hover {
    cursor: pointer;
}

/* Footer */

footer {
    padding: 0 64px;
    height: 96px;

    background-color: #070f2b;

    gap: 32px;
}
footer img {
    height: 64px;
}
.footer-link {
    transition: all 0.25s ease;
}
.footer-link:hover {
    filter: drop-shadow(0px 0px 8px #ffffff);
    transition: all 0.25s ease;
}

@media (max-width: 1440px) {
    .grid-repeat2 {
        grid-template-columns: repeat(2, 256px);
    }

    .grid-repeat5 {
        grid-template-columns: repeat(4, 256px);
    }
}

@media (max-width: 1200px) {
    .grid-repeat2 {
        grid-template-columns: repeat(2, 200px);
    }

    .grid-repeat5 {
        grid-template-columns: repeat(4, 200px);
    }

    .gallery {
        gap: 16px;
    }

    .gallery-img {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 900px) {
    .grid-repeat2 {
        grid-template-columns: repeat(2, 200px);
    }

    .grid-repeat5 {
        grid-template-columns: repeat(3, 200px);
    }

    .gallery {
        gap: 16px;
    }

    .gallery-img {
        width: 200px;
        height: 200px;
    }

    .fullscreen_dialog {
        height: 80vh;
    }
}

@media (max-width: 800px) {
    .fullscreen_dialog {
        height: 70vh;
    }
}

@media (max-width: 700px) {
    .grid-repeat2 {
        grid-template-columns: repeat(2, 240px);
    }

    .grid-repeat5 {
        grid-template-columns: repeat(2, 240px);
    }

    .gallery {
        gap: 16px;
    }

    .gallery-img {
        width: 220px;
        height: 220px;
    }

    .fullscreen_dialog {
        height: 60vh;
    }
}

@media (max-width: 600px) {
    .fullscreen_dialog {
        height: 50vh;
    }
}

@media (max-width: 550px) {
    .grid-repeat2 {
        grid-template-columns: repeat(2, 200px);
    }

    .grid-repeat5 {
        grid-template-columns: repeat(2, 200px);
    }

    .gallery-img {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 500px) {
    .fullscreen_dialog {
        height: 40vh;
    }
}

@media (max-width: 475px) {
    .grid-repeat2 {
        grid-template-columns: repeat(1, 250px);
        gap: 48px;
    }

    .grid-repeat5 {
        grid-template-columns: repeat(1, 250px);
    }

    .gallery-img {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 425px) {
    .grid-repeat2 {
        grid-template-columns: repeat(1, 200px);
    }

    .grid-repeat5 {
        grid-template-columns: repeat(1, 200px);
    }

    .gallery-img {
        width: 200px;
        height: 200px;
    }

    .fullscreen_dialog {
        height: 30vh;
    }
}
